.q-proposition
  padding: 73px 0 73px
  background-color: #F8F8F8
  &:hover .q-section-title__text::before
    width: 100%
  &__wrapper
    display: flex
    justify-content: center
    flex-wrap: wrap
    margin: 0 -15px
  &__item
    margin: 0 10px
    padding-bottom: 36px
    max-width: 370px
    width: 100%
    background-color: #FFFFFF
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.20)
    &--img
      text-align: center
      max-width: 100%
      width: 100%
      height: auto
    &--icon
      padding: 10px
      display: flex
      align-items: center
      justify-content: center
      min-height: 156px
      transition: 0.7s
      cursor: default
      &_pencil, &__bird, &_thoughts, &_people,
      &_arrow, &_pillar
        transition: 0.6s
      & svg:hover 
        .q-proposition__item--icon_pencil,
        .q-proposition__item--icon_bird,
        .q-proposition__item--icon_thoughts,
        .q-proposition__item--icon_arrow        
          fill: #006116
        .q-proposition__item--icon_people,
        .q-proposition__item--icon_pillar
          fill: grey
    &--text
      position: relative
      display: block
      margin: 0 auto 36px
      max-width: 260px
      width: 100%
      font-size: 18px
      font-weight: 400
      line-height: 133%
      color: #777777
      transition: 0.4s
      &::before 
        content: ''
        position: absolute
        bottom: -7px
        width: 0%
        height: 2px
        background-color: #E31E25
        opacity: 0
        transition: 0.7s
      &:hover 
        color: #222222
      &:hover::before
        opacity: 1
        width: 15%




