section.q-activity
  .q-inner
    span.q-section-title Расписание мероприятий
    table.q-info
      tr.q-info__row._top
        td.q-info__row--date Дата
        td.q-info__row--title Название
        td.q-info__row--date Дата
        td.q-info__row--title Название
      tr.q-info__row._even
        td.q-info__row--date
            span.q-info__row--number 24
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
          .q-info__row--about
            p Личная эффективность
          .q-info__row--subject 
            p Жизнестойкость
        td.q-info__row--date
            span.q-info__row--number 24
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
          .q-info__row--about
            p Личная эффективность
          .q-info__row--subject 
            p Жизнестойкость
      tr.q-info__row._odd
        td.q-info__row--date
            span.q-info__row--number 15
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
            .q-info__row--about
              p Личная эффективность
            .q-info__row--subject 
              p Бизнес-завод 2.0
        td.q-info__row--date
            span.q-info__row--number 15
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
            .q-info__row--about
              p Личная эффективность
            .q-info__row--subject 
              p Бизнес-завод 2.0 
      tr.q-info__row._even
        td.q-info__row--date
            span.q-info__row--number 15
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
          .q-info__row--about
            p Личная эффективность
          .q-info__row--subject 
            p Боль и удовольствие в продажах
        td.q-info__row--date
            span.q-info__row--number 15
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
          .q-info__row--about
            p Личная эффективность
          .q-info__row--subject 
            p Боль и удовольствие в продажах
      tr.q-info__row._odd
        td.q-info__row--date
            span.q-info__row--number 24
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
          .q-info__row--about
            p Личная эффективность
          .q-info__row--subject 
            p Жизнестойкость
        td.q-info__row--date
            span.q-info__row--number 24
            span.q-info__row--month Июня
            span.q-info__row--time 10:00
        td.q-info__row--title
          .q-info__row--about
            p Личная эффективность
          .q-info__row--subject 
            p Жизнестойкость
      tr.q-info__row._footer
        td
          button.q-btn Получить все расписание на почту  

          