footer.q-footer
  .q-inner
    .q-footer__content
      p Компания не несет ответственности за возможные риски и/или убытки, которые могут возникнуть в случае заключения Стороной сделок на финансовых рынках (в частности на рынке Форекс), и отвечает только за неисполнение или ненадлежащее исполнение своих обязательств в рамках заключенного между компанией и Стороной договор на оказание консультационных услуг в виде проведения семинаров и иных мероприятий информационного характера по вопросам принципов работы на международном валютном рынке Форекс.
      p Компания не является заинтересованным лицом в части извлечения прибыли по договорам и соглашениям, заключенным Стороной и третьими лицами, в том числе компаниями, операторами услуг по доступу на финансовые рынки.
      p Сторона независима в своих решениях от каких-либо рекомендаций других лиц (в том числе работников компании) и самостоятельно принимает инвестиционные и торговые решения, основывая на собственные знания и убеждения. Компания не несет ответственности за возможные потери Стороны, вызванные использованием Стороной в принятии своих инвестиционных и торговых решений советов и рекомендаций третьих лиц, в том числе сотрудников компании, и/или информации, содержащей на данном сайте.
    a.q-footer__label(href="#") © 2019 Форвард