header.q-header
  .q-inner
    a.q-header__logo(href="#")
      img.q-header__logo--img(src="img/main/header/header-logo.svg", alt="Логотип")
    ul.q-header-menu
      li.q-header-menu__item
        a.q-header-menu__item--link(href="#") Главная
      li.q-header-menu__item
        a.q-header-menu__item--link(href="#") О компании
      li.q-header-menu__item
        a.q-header-menu__item--link(href="#") Новости
      li.q-header-menu__item
        a.q-header-menu__item--link(href="#") Программы
      li.q-header-menu__item
        a.q-header-menu__item--link(href="#") Обучение
      li.q-header-menu__item
        a.q-header-menu__item--link(href="#") Контакты
    a.q-header__phone(href="tel:78435005573") +7(843) 500-55-73
