section.q-investors
  .q-inner
    .q-investors__container
      span.q-section-title Инвесторам
      ul.q-investors__content
        li.q-investors__row._handshake
          span.q-investors__row--title Специальные предложения от партнеров
          span.q-investors__row--subtitle Индивидуальный подборпрограмм по результатам тестирования
        li.q-investors__row._idea
          span.q-investors__row--title Свежии идеи #[br] для инвестирования
          span.q-investors__row--subtitle Индивидуальный подборпрограмм по результатам тестирования
        li.q-investors__row._cheers
          span.q-investors__row--title Регулярные мероприятия #[br] и мастер-класс
          span.q-investors__row--subtitle Индивидуальный подборпрограмм по результатам тестирования
      .q-investors__footer
        button.q-btn Стать инвестором
        button.q-investors__footer--info Узнать больше