section.q-reviews
  .q-inner
    span.q-section-title Отзывы
    .swiper-container
      .swiper-wrapper
        .swiper-slide
          .q-reviews__left-part
            img.q-reviews__img(src="img/main/traders/traders-bg.jpg", alt="slider img")
          .q-reviews__right-part
            span.q-reviews__title Константин Валерьевич
            span.q-reviews__position Руководитель компании
            .q-reviews__text
              p Получил бесценные знания, а главное возможность практиковаться во время занятий и применять полученные навыки. Рекомендую
        .swiper-slide
          .q-reviews__left-part
            img.q-reviews__img(src="img/main/traders/traders-bg.jpg", alt="slider img")
          .q-reviews__right-part
            span.q-reviews__title Константин Валерьевич
            span.q-reviews__position Руководитель компании
            .q-reviews__text
              p Получил бесценные знания, а главное возможность практиковаться во время занятий и применять полученные навыки. Рекомендую
        .swiper-slide
          .q-reviews__left-part
            img.q-reviews__img(src="img/main/traders/traders-bg.jpg", alt="slider img")
          .q-reviews__right-part
            span.q-reviews__title Константин Валерьевич
            span.q-reviews__position Руководитель компании
            .q-reviews__text
              p Получил бесценные знания, а главное возможность практиковаться во время занятий и применять полученные навыки. Рекомендую
        .swiper-slide
          .q-reviews__left-part
            img.q-reviews__img(src="img/main/traders/traders-bg.jpg", alt="slider img")
          .q-reviews__right-part
            span.q-reviews__title Константин Валерьевич
            span.q-reviews__position Руководитель компании
            .q-reviews__text
              p Получил бесценные знания, а главное возможность практиковаться во время занятий и применять полученные навыки. Рекомендую
      .swiper-button-next
      .swiper-button-prev
    .q-review__footer
      a.q-btn-empty(href="#") Подробнее об обучении
      .swiper-pagination


