section.q-traders
  .q-inner
    .q-traders__background
    .q-traders__container
      span.q-section-title Трейдерам
      ul.q-traders__content
        li.q-traders__row._handshake
          span.q-traders__row--title Специальные предложения от партнеров
          span.q-traders__row--subtitle Индивидуальный подборпрограмм по результатам тестирования
        li.q-traders__row._training
          span.q-traders__row--title Повышение #[br] квалификации
          span.q-traders__row--subtitle Индивидуальный подборпрограмм по результатам тестирования
        li.q-traders__row._analytics
          span.q-traders__row--title Актуальная #[br] аналитика
          span.q-traders__row--subtitle Индивидуальный подборпрограмм по результатам тестирования
      .q-traders__footer
        button.q-btn Изменить свою жизнь
        button.q-traders__footer--info Узнать больше
