<!DOCTYPE html>

html(lang="ru")
  include components/head.pug
  // WRITE CODE HERE ===>


  body
    include sections/header.pug
    block content
    main
      include sections/feedback.pug
      include sections/proposition.pug
      include sections/traders.pug
      include sections/investors.pug
      include sections/reviews.pug
      include sections/activity.pug
      include sections/map.pug
      include sections/popup.pug
      include sections/footer.pug
    include components/scripts.pug
    
    



  // END CODE HERE <===






  
  

