<!DOCTYPE html>

html(lang="ru")
  include components/head.pug
  // WRITE CODE HERE ===>


  body
    include sections/header.pug
    block content
    main
      include sections/feedback.pug
      include sections/footer.pug
    include components/scripts.pug
    
    



  // END CODE HERE <===






  
  

