html 
  box-sizing: border-box;

*,
*::before,
*::after 
  box-sizing: inherit;

html,
body 
  height: 100%
  position: relative

body 
  font-weight: 400
  font-family: 'Gotham Pro'


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 
  margin: 0
  padding: 0

p 
  display: inline-block

a 
  color: #ffffff
  cursor: pointer
  text-decoration: none
  display: inline-block
  transition: 0.4s
  &:hover
    opacity: 0.9

span
  display: inline-block
 
li, ul 
  list-style: none

button 
  cursor: pointer

.q-container 
  max-width: 1170px
  width: 100%
  padding: 0 15px
  margin: 0 auto


