html 
  box-sizing: border-box

*,
*::before,
*::after 
  box-sizing: inherit

html,
body 
  height: 100%
  position: relative

body 
  font-weight: 400
  font-family: 'Gotham Pro'


ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 
  margin: 0
  padding: 0

p 
  display: inline-block

a 
  color: #ffffff
  cursor: pointer
  text-decoration: none
  display: inline-block

span
  display: inline-block
 
li, ul 
  list-style: none

button
  display: inline-block
  background-color: transparent
  border: none
  cursor: pointer

.q-container 
  max-width: 1170px
  width: 100%
  padding: 0 15px
  margin: 0 auto

.q-btn
  padding: 14px 33px
  min-width: 270px
  max-width: 370px
  font-weight: 400
  font-size: 18px
  text-align: center
  color: #ffffff
  background-color: #E31E25
  transition: 0.7s
  &:hover 
    background-color: #28a745

.q-btn-empty
  display: block
  margin: 0 auto
  padding: 14px 33px
  max-width: 270px
  width: 100%
  font-weight: 400
  font-size: 16px
  text-align: center
  color: #ffffff
  background-color: transparent
  color: #777777
  border: 1px solid #E31E25
  transition: 0.7s
  &:hover 
    background-color: #E31E25
    color: white

.q-section-title
  display: block
  padding-bottom: 66px
  text-align: center
  &__text
    position: relative
    text-align: center
    margin: 0 auto
    font-size: 40px
    line-height: 140%
    font-weight: 900
    text-transform: uppercase
    color: #222222
    &::before 
      content: ''
      position: absolute
      bottom: 0
      left: 0
      width: 0%
      height: 2px
      background-color: #E31E25
      transition: 0.8s
    


